<div class="form-container">
  <h2>Add Product</h2>

  <form (ngSubmit)="submit()" #productForm="ngForm">
    <div class="form-grid">
      <label>
        Name:
        <input name="name" [(ngModel)]="product.name" required />
      </label>

      <label>
        Quantity:
        <input type="number" name="quantity" [(ngModel)]="product.quantity" required />
      </label>

      <label>
        Price:
        <input type="number" step="0.01" name="price" [(ngModel)]="product.price" required />
      </label>

      <label>
        Category:
        <select name="categoryId" [(ngModel)]="product.categoryId" required>
          <option value="" disabled selected>Select a category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </label>

    </div>

    <button type="submit" class="submit-button">Save</button>
  </form>
</div>
